.cactus {
  width: 25px;
  height: 48px;
  display: block;
  background-image: url("img/cactus-1.png");
  right: -25px;
}

.cactus--move {
  transform: translateX(-550px);
  transition: 3s linear transform;
}