.dino {
  width: 42px;
  height: 45px;
  display: block;
  background-image: url("img/dino-1.png");
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.3s linear transform;
}

.dino--step1 {
  background-image: url("img/dino-1.png");
}

.dino--step2 {
  background-image: url("img/dino-2.png");
}

.dino--jump {
  background-image: url("img/dino-0.png");
}

.dino--died {
  background-image: url("img/dino-died.png");
} 