.game {
  width: 500px;
  height: 200px;
  border: 1px solid blue;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

.game__score {
  //float: right;
  margin-right: 20px;
  align-self: flex-end;
}

.game__dino {
  margin-left: 40px;
  position: relative;
}

.game__ground {
  position: absolute;
  top: 188px;
}